<div class="row" style="min-height: 650px">
    <div class="col-7" [attr.hidden]="(currentlyInGame$ | async) == 'new' ? null : null">
        <app-map
                [feature]="(currentQuestion$ | async) || null"
                (clickedOnAnswer)="clickedOnAnswer($event)"
                [gameState]="(currentlyInGame$ | async)"
                [allQuestions]="allQuestions$ | async"
        ></app-map>
    </div>
    <div class="col-4">
        <ng-container *ngIf="currentQuestion$ | async as currentQuestion">

          <h3>Uitleg</h3>
          <li>(Hoofd)steden zijn zwarte bolletjes</li>
          <li>Provincies zijn paarse bolletjes</li>
          <li>Gebieden zijn paarse bolletjes</li>
          <li>Wateren zijn blauwe bolletjes</li>
          <br><br>

          <ng-container *ngIf="(currentlyInGame$ | async) == 'ongoingTypeAnswer'">
              <h2>Wat is de naam van de/het {{currentQuestion.properties['type']}} die Wit is?</h2>

              <form [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
                        <div class="form-group">
                            <label for="answer">Antwoord</label>
                            <input [class.is-valid]="formGroup.get('answer').valid" [class.is-invalid]="!formGroup.get('answer').valid"
                                   type="text" class="form-control" id="answer" placeholder="Vul hier het antwoord in" formControlName="answer" autocomplete="off">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Versturen</button>
                    </form>
          </ng-container>

          <ng-container *ngIf="(currentlyInGame$ | async) == 'ongoingClickOnMap'">
            <h2>Klik op de/het {{currentQuestion.properties['type']}} {{currentQuestion.properties['answer']}}</h2>
          </ng-container>
            <hr/>

            <p>Deze set bevat {{(allQuestions$ | async).features.length}} vragen</p>
            <p class="text-success">
                <fa-icon [icon]="faCheck"></fa-icon>&nbsp; Je hebt {{(gameStats$ | async).correct}} vragen goed
            </p>
            <p class="text-danger">
                <fa-icon [icon]="faTimesSquare"></fa-icon>&nbsp; Je hebt {{(gameStats$ | async).incorrect}} vragen fout
            </p>

        </ng-container>

        <ng-container *ngIf="(currentlyInGame$ | async) == 'finished'">
            <h2>Klaar :)</h2>

            <p>Je hebt de vragenlijst afgerond met een: {{selectScore$ | async}}</p>
            <p class="text-success">
                <fa-icon [icon]="faCheck"></fa-icon>&nbsp; Je hebt {{(gameStats$ | async).correct}} vragen goed
            </p>
            <p class="text-danger">
                <fa-icon [icon]="faTimesSquare"></fa-icon>&nbsp; Je hebt {{(gameStats$ | async).incorrect}} vragen fout
            </p>

        </ng-container>

        <ng-container *ngIf="(currentlyInGame$ | async) == 'new'">
            <h2>Kies een toets</h2>

          <table class="table">
          <ng-template ngFor let-questionnaire [ngForOf]="questionnaires" let-i="index">
            <tr>
              <td>{{questionnaire.title}}</td>
              <td><button (click)="startQuizer('typeMode', questionnaire.id)" class="btn btn-primary btn-sm">Typen</button></td>
              <td><button (click)="startQuizer('clickMode', questionnaire.id)" class="btn btn-success btn-sm">Klikken</button></td>
            </tr>
          </ng-template>
          </table>
        </ng-container>


    </div>
</div>


